---
import LayoutDefault from "../layouts/LayoutDefault.astro";

const title = "About";
const description = "My Description";
const image = "../images/favicon.svg";
---

<LayoutDefault title={title} description={description} image={image}>
	<h1>Here are a few facts about me:</h1>
</LayoutDefault>
