---
import LayoutDefault from "../layouts/LayoutDefault.astro";
import Link from "../blocks/link.astro";

const title = "Home";
const description = "My Description";
const image = "../images/favicon.svg";
---

<LayoutDefault title={title} description={description} image={image}>
	<section>
		<h1>Here are a few facts about me:</h1>
		<Link href="test" text="test" />
	</section>
</LayoutDefault>
