---
import LayoutCanvas from "../layouts/LayoutCanvas.astro";

const title = "Maxitec";
const description = "My CV for Maxitec application";
const image = "../images/favicon.svg";
---

<LayoutCanvas title={title} description={description} image={image}>
	<article>
		<header>
			<div class="maxitec-logo">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xml:space="preserve"
					viewBox="0 0 1024 1024"
					width="50px"
					height="50px"
				>
					<circle cx="512" cy="512" r="512" fill="#ea7324"></circle>
					<path
						fill="#fff"
						d="M569 180 87 366l195 499 158-61-141-363 89-35 142 363 159-62-142-363 41-16q43-14 62 18l129 327 158-62-121-313c-46-120-107-172-247-118"
					></path>
				</svg>
			</div>
			<h1>Hello <span style="text-decoration: underline;">MAXITEC</span></h1>
		</header>
		<hgroup>
			<h2>I'm Stefan le Roux</h2>
			<p>Front‑end Web Developer turning UI dreams into pixel‑perfect reality.</p>
		</hgroup>
		<h2>About Me</h2>
		<p>
			For the past <strong>4 years</strong> I’ve been the go‑to web‑craftsman at <a
				href="https://inkfish.co.za/"
				target="_blank">Inkfish Digital Marketing</a
			>. My day‑to‑day?
		</p>
		<ul>
			<li>
				Building & hosting <a href="https://wordpress.org/" target="_blank">WordPress</a> sites (and the occasional
				bespoke project from scratch with the <a href="https://astro.build/" target="_blank">
					Astro framework</a
				>).
			</li>
			<li>
				Translating design files; from Photoshop, Penpot, InDesign, or Figma; into fully functional websites.
			</li>
			<li>
				Maintaining 100+ hosting clients, ensuring PHP compatibility, email deliverability, and swift
				troubleshooting.
			</li>
			<li>Producing training videos so clients can run their own WooCommerce shops.</li>
			<li>
				Crafting HTML email signatures that render across Outlook, Gmail, Apple Mail, and the rest of the
				inbox zoo.
			</li>
		</ul>
		<hr />
		<h2>Technical Toolbox</h2>
		<h3>Frameworks & CMS</h3>
		<ul class="clients" role="list">
			<li>WordPress</li>
			<li>WooCommerce</li>
			<li>Astro</li>
		</ul>
		<h3>Languages</h3>
		<ul class="clients" role="list">
			<li>HTML</li>
			<li>CSS</li>
			<li>SVG</li>
			<li>JavaScript/TypeScript</li>
			<li>PHP</li>
			<li>SQL</li>
		</ul>
		<h3>Other Software</h3>
		<ul class="clients" role="list">
			<li>Penpot</li>
			<li>Photoshop</li>
			<li>GIMP</li>
			<li>Inkscape</li>
		</ul>
		<hr />
		<h2>Websites I was responible for building</h2>
		<h3>The UXI Artisan Group</h3>
		<ul role="list" class="clients">
			<li><a href="https://www.uxi-ad.co.za/" target="_blank">UXI Artisan Group</a></li>
			<li><a href="https://ieti.co.za/" target="_blank">Industries Education & Training Institute</a></li>
			<li><a href="https://durnacol.co.za/" target="_blank">Durnacol Skills Hub</a></li>
			<li><a href="https://iib-online.co.za/" target="_blank">Industry Institute of Business</a></li>
			<li><a href="https://pandttechnology.co.za/" target="_blank">P&T Technology</a></li>
			<li><a href="https://empilwenieducation.co.za/" target="_blank">Empilweni Education</a></li>
			<li><a href="https://mcdtraining.co.za/" target="_blank">MCD Training Centre</a></li>
			<li><a href="https://francoisferreira.co.za/" target="_blank">Francois Ferreira Academy</a></li>
			<li><a href="https://apprentice-eatery.co.za/" target="_blank">Apprentice Eatery</a></li>
			<li><a href="https://africanartisanconfederation.org/" target="_blank">African Artisan</a></li>
		</ul>
		<h3>Coaching + Health + Other Educational Institutions</h3>
		<ul role="list" class="clients">
			<li><a href="https://agileculture.co.za/" target="_blank">Agile Culture</a></li>
			<li><a href="https://centreforcoaching.co.za/" target="_blank">Centre for Coaching</a></li>
			<li><a href="https://enbonnesante.co.za/" target="_blank">En Bonne Sante</a></li>
			<li><a href="https://gailschoeman.com/" target="_blank">Gail Schoeman</a></li>
			<li><a href="https://satorilifecoachingsa.co.za/" target="_blank">Satori Life</a></li>
			<li><a href="https://omgacademy.co.za/" target="_blank">OMG Academy</a></li>
			<li><a href="https://synapsepsychiatrists.co.za/" target="_blank">Dr. Luzaan Cooke</a></li>
			<li><a href="https://dynamichealth.today/" target="_blank">Dynamic Health</a></li>
		</ul>
		<h3>Some overseas</h3>
		<ul role="list" class="clients">
			<li><a href="https://gazedesignhouse.com/" target="_blank">Gaze Design House</a></li>
			<li><a href="https://www.lifeblessing.com/" target="_blank">Life Blessing</a></li>
			<li><a href="https://www.waterfordaccountants.ie/" target="_blank">Waterford Accountants</a></li>
		</ul>
		<h3>And some others</h3>
		<ul role="list" class="clients">
			<li><a href="https://juffroulinky.com/" target="_blank">Juffrou Linky</a></li>
			<li><a href="https://acumengroup.co.za/" target="_blank">Acumen Group</a></li>
			<li><a href="https://chinatownsa.co.za/" target="_blank">China Town</a></li>
			<li><a href="https://educationcover.co.za/" target="_blank">Education Cover</a></li>
			<li><a href="https://ivoda.co.za/" target="_blank">Ivoda</a></li>
			<li><a href="https://printcomerch.co.za/" target="_blank">Printco Merch</a></li>
			<li><a href="https://vanpletzen.co.za/" target="_blank">Van Pletzen</a></li>
			<li><a href="https://slushology.co.za/" target="_blank">Slushology</a></li>
			<li><a href="https://storesmart.co.za/" target="_blank">Store Smart</a></li>
			<li><a href="https://trichardspoortgamefarms.co.za/" target="_blank">Trichardspoort Game Farms</a></li>
		</ul>
		<h2>Contact Info</h2>
		<ul>
			<li>Email: <a href="mailto:stefan@vivtec.co.za">stefan@vivtec.co.za</a></li>
			<li>Phone: <a href="tel:+27614315742">061 431 5742</a></li>
		</ul>
		<hr />
	</article>
</LayoutCanvas>

<style>
	.clients {
		border-left: solid 5px #fff;
		padding-inline-start: 1em;
		display: flex;
		justify-content: start;
		flex-flow: row wrap;
		gap: 1em;

		> a {
			display: inline-block;
		}
	}

	article {
		width: min(1000px, 100%);
		margin-inline: auto;
		padding-block: 2rem;
		padding-inline: 2rem;

		a {
			font-weight: bold;
			text-decoration: underline;
			color: #fff;

			&:hover {
				color: blanchedalmond;
			}
		}

		> *:not(:where(:last-child)) {
			margin-block-end: 1em;
		}

		> *:not(h1, h2, h3, h4, h5, h6):has(+ :is(h1, h2, h3, h4, h5, h6, hr)) {
			margin-block-end: 2.75em;
		}

		:is(ul, ol):not([role="list"]) li:not(:last-child) {
			margin-block-end: 0.5em;
		}

		li:has(> :is(ol, ul)) :is(ol, ul) {
			margin-block-start: 0.5em;
		}

		:is(h1, h2, h3, h4, h5, h6) {
			text-transform: uppercase;
			line-height: 1.1;
		}

		h1 {
			font-size: var(--fs-6);
		}
		h2 {
			font-size: var(--fs-5);
		}
		h3 {
			font-size: var(--fs-4);
		}
		h4 {
			font-size: var(--fs-3);
		}

		hr {
			border: unset;
			border-top: dotted 5px;
		}
	}

	header {
		position: relative;
		aspect-ratio: 16 / 9;
		display: grid;
		gap: 2rem;
		padding: 3rem;
		place-items: center;
		border-radius: var(--borderRadius);
		isolation: isolate;
		overflow: clip;
		background: #fff;
		margin-block-end: 2.5em;

		&::before {
			--gradFirst: 70% 70%;
			content: "";
			position: absolute;
			inset: 0;
			scale: 2;
			background:
				linear-gradient(90deg, color-mix(in oklch, #aaa, transparent 80%)) var(--gradFirst) / 200px 200px
					no-repeat,
				linear-gradient(90deg, color-mix(in oklch, #aaa, transparent 80%)) 70% 20% / 200px 200px no-repeat,
				linear-gradient(90deg, color-mix(in oklch, #aaa, transparent 80%)) 50% 45% / 200px 200px no-repeat,
				linear-gradient(90deg, color-mix(in oklch, #aaa, transparent 80%)) 60% 30% / 200px 200px no-repeat;
			z-index: -2;
			rotate: 45deg;
		}

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background: radial-gradient(#ffffff 25%, transparent 25%) center center / 30px 30px;
			z-index: -1;
			mask: radial-gradient(circle at 100% 100%, black 10%, transparent 80%);
		}
	}
	.maxitec-logo {
		inline-size: min(300px, 100%);

		svg {
			inline-size: 100%;
		}
	}

	h1 {
		inline-size: 100%;
		padding-block: 0.25em;
		padding-inline: 0.25em;
		background: #221f20;
		text-align: center;
		color: white;
		border-radius: var(--borderRadius);
		corner-shape: squircle;
	}
</style>
