<form popover id="contact">
	<label>
		<span>Name</span>
		<input name="your-name" type="text" placeholder="Name" autocomplete="false" required />
	</label>
	<label>
		<span>Email</span>
		<input name="your-email" type="email" placeholder="user@domain.name" autocomplete="false" required />
	</label>
	<label>
		<span>Message</span>
		<textarea name="your-message" placeholder="Message" required></textarea>
	</label>
	<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f20-p13-o1" />
	<output id="statusMessage"></output>
	<button class="icon_mail-send" type="submit"> Submit </button>
</form>

<script is:inline>
	contact.onsubmit = async (e) => {
		e.preventDefault();

		statusMessage.setAttribute("data-status", "processing");
		statusMessage.value = "Processing";

		try {
			let response = await fetch(
				"https://lab.vivtec.co.za/forms/wp-json/contact-form-7/v1/contact-forms/20/feedback",
				{
					method: "POST",
					body: new FormData(contact),
				},
			);

			let result = await response.json();

			if (result.status === "mail_sent") {
				statusMessage.setAttribute("data-status", "completed");
				statusMessage.value = result.message;
			} else {
				statusMessage.setAttribute("data-status", "error");
				statusMessage.value = "You made a mistake";
			}
		} catch (error) {
			statusMessage.setAttribute("data-status", "error");
			statusMessage.value = "Form doesn't do anything yet";

			if (error instanceof TypeError) {
				statusMessage.value = "Fucking CORS";
			}
		}
	};
</script>

<style>
	form {
		display: none;
		opacity: 0;
		inline-size: min(400px, 100% - 5rem);
		z-index: 5;
		transition: all 0.2s allow-discrete;

		&:popover-open {
			display: grid;
			opacity: 1;

			@starting-style {
				display: grid;
				opacity: 0;
			}
		}

		&::backdrop {
			opacity: 0;
			background: #00000080;
			transition: all 0.2s allow-discrete;
			pointer-events: auto;
		}

		&:popover-open::backdrop {
			opacity: 1;

			@starting-style {
				display: block;
				opacity: 0;
			}
		}
	}
</style>
