---
interface Props {
	class?: string;
	href: string;
	text: string;
}

const { class: classes, href, text, ...rest } = Astro.props;
---

<a class:list={classes} href={href} {...rest}>{text}</a>

<style>
	a {
		&[class~="button"],
		&[class^="icon"] {
			display: inline-flex;
			align-items: center;
			gap: var(--paddingGap);
			padding-inline: var(--paddingGap);
			padding-block: calc(var(--paddingGap) / 1.35);
			background: oklch(from var(--colorBackground) calc(l + 0.1) c h / 0.5);
			border: solid var(--borderWidth) oklch(from var(--colorBackground) calc(l + 0.2) c h / 1);
			border-radius: var(--borderRadius);

			&:hover,
			&:focus-within {
				background: oklch(from var(--colorPrimary) l c h / 0.2);
				border-color: oklch(from var(--colorPrimary) l c h / 0.5);
			}
		}

		&[class^="icon"]::before {
			font-family: "icons";
			display: inline-block;
			width: 1em;
			line-height: 0;
			align-content: center;
			text-align: start;
			aspect-ratio: 1;
		}

		@media (prefers-reduced-motion: no-preference) {
			& {
				transition:
					border-color 0.05s ease-in-out,
					background 0.15s ease-in-out;
			}
		}
	}
</style>
