---
// src/components/NavigationList.astro

interface Props {
	ariaHidden?: boolean;
}

const { ariaHidden } = Astro.props;
---

<ul role="list" aria-hidden={ariaHidden}>
	<li role="listitem"><a href="/blog/welcome/">Read 'welcome' post</a></li>
</ul>

<style>
	ul {
		grid-area: stacked;
		display: flex;
		gap: 10em;
		font-size: var(--fs-0);
		padding-inline: 5em;

		&[aria-hidden="true"] {
			translate: 100% 0%;
		}

		li {
			flex-grow: 1;
			text-wrap: nowrap;
			line-height: 1.5lh;
			font-weight: bold;
			text-transform: uppercase;
		}

		li:has(a) {
			text-decoration: underline;
			text-decoration-style: dashed;
			text-underline-offset: 0.2lh;
		}
	}
</style>
