---
import Meta from "../blocks/meta.astro";
import Link from "../blocks/link.astro";
import Contact from "../blocks/contact.astro";

const { pathname } = Astro.url;

const { title, description, image = "favicon.svg" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Meta title={title} description={description} image={image} />
	<body>
		<label for="menu" class="icon_application-menu" aria-label="menu">
			<input type="checkbox" id="menu" />
		</label>
		<nav>
			<div class="sticky">
				<div class="profile">
					<img src="" alt="SR" />
				</div>
				<ul role="menu">
					<li role="menuitem">
						<Link
							class="button icon_view-institution"
							aria-current={pathname === "/" ? "page" : "false"}
							href="/"
							text="Home"
						/>
					</li>
					<li role="menuitem">
						<Link
							class="button icon_help-about"
							aria-current={pathname === "/about/" ? "page" : "false"}
							href="/about/"
							text="About"
						/>
					</li>
					<li role="menuitem">
						<Link
							class="button icon_document-edit-sign"
							aria-current={pathname === "/blogs/" ? "page" : "false"}
							href="/blogs/"
							text="Blog"
						/>
					</li>
				</ul>
				<div class="contact">
					<a class="button icon_edit-download" href="/docs/stefanleroux.pdf" download="stefanleroux-cv"
						>Résumé</a
					>
					<button class="icon_mail-send" popovertarget="contact">Contact</button>
					<Contact />
				</div>
			</div>
		</nav>
		<main>
			<slot />
		</main>
		<footer>test</footer>
	</body>
</html>

<style>
	body {
		--timing: 0.5s;
		--easing: cubic-bezier(0.8, -0.4, 0.5, 1);
		min-block-size: 100svh;
		display: grid;
		grid:
			"nav head" auto
			"nav main" 1fr
			"nav foo" auto / minmax(0, 250px) minmax(0, 1fr);

		& > nav {
			grid-area: nav;
		}

		& > main {
			grid-area: main;
		}

		& > footer {
			grid-area: foo;
		}

		& > :is(label[for="menu"], input[name="menu"]) {
			display: none;
		}

		@media (width <= 900px) {
			& {
				overflow-x: clip;
				grid-template-columns: minmax(0, 0) minmax(0, 1fr);
				transition: grid-template-columns var(--timing) var(--easing);

				nav {
					content-visibility: hidden;
					transition-behavior: allow-discrete;
					transition-delay: 0.5s;
				}

				main,
				footer {
					transition: filter var(--timing) var(--easing);
					width: 100vw;
				}
			}

			&:has(> label[for="menu"] > input#menu:checked) {
				grid-template-columns: minmax(0, 250px) minmax(0, 1fr);
				transition-timing-function: ease-in-out;
				transition-duration: 0.2s;

				nav {
					content-visibility: visible;
					transition-delay: 0s;
				}

				main,
				footer {
					filter: grayscale(100%) brightness(50%);
					transition-timing-function: ease-in-out;
					transition-duration: 0.2s;
				}
			}

			& > label[for="menu"] {
				display: block;
				position: fixed;
				inset: auto 0 0 auto;
				font-family: icons;
				z-index: 1;

				& > input#menu {
					display: block;
					position: fixed;
					width: 0;
					height: 0;
					opacity: 0;
				}

				&::before {
					display: block;
					padding: var(--paddingGap);
					background: var(--buttonColor);
					border: var(--buttonBorder);
					border-radius: var(--borderRadius);
					font-size: 3.5rem;
					line-height: 1;
					translate: -2rem -2rem;
					backdrop-filter: blur(5px);
				}

				&:hover::before,
				&:focus-within::before {
					background: oklch(from var(--colorPri) l c h / 0.5);
					border-color: oklch(from var(--colorPri) l c h / 1);
				}

				&:has(> input#menu:checked)::before {
					background: oklch(from var(--colorPri) l c h / 0.8);
					border-color: oklch(from var(--colorPri) l c h / 1);
				}

				&:has(> input#menu:checked):focus::before {
					background: oklch(from var(--colorPri) l c h / 0.2);
					border-color: oklch(from var(--colorPri) l c h / 0.5);
				}

				&::after {
					display: none;
					content: "";
					position: fixed;
					inset: auto 0 0 auto;
					inline-size: 100vw;
					block-size: 100vh;
					z-index: -1;
				}

				&:has(> input#menu:checked)::after {
					display: block;
				}
			}
		}
	}

	nav {
		position: relative;
		z-index: 1;
		isolation: isolate;
		background: var(--blockColor);
		box-shadow: inset -0.15rem 0 0 0 var(--borderColor);

		.sticky {
			position: sticky;
			inset: 0 0 auto auto;
			height: 100lvh;
			overflow: clip auto;
			display: grid;
			grid: auto 1fr auto / auto;
			place-content: start;
			gap: 3rem;
			padding-block: 3rem;
			font-size: 2.5rem;

			& > :is(.profile, [role="menu"], .contact) {
				padding-inline: 3rem;
			}
		}

		.profile {
			inline-size: 250px;

			& > img {
				width: 100%;
				margin-inline: auto;
				aspect-ratio: 1;
				object-fit: cover;
				color: oklch(from #02b787 l c h / 1);
				font-size: 10rem;
				background: oklch(from #02b787 l c h / 0.3);
				border-radius: 50%;
				border: solid 0.15rem oklch(from #02b787 l c h / 1);
			}
		}

		ul {
			display: flex;
			flex-flow: column nowrap;
			gap: 1.5rem;
		}

		a {
			inline-size: 100%;
			line-height: 1;
		}

		.contact {
			display: grid;
			gap: 1.5rem;

			button {
				font-size: 2.5rem;
				inline-size: 100%;
				line-height: 1;
				text-align: start;
			}
		}
	}
</style>
